<head>
</head>
<body>
    <h2>Nick's Website 🤠</h2>
    <p>This is a space for a collection of random projects that need an internet home.</p>
    <ul>
    {% for name in projects %}
        <li>{{ name }}</li>
    {% endfor %}
    </ul>
</body>
